---
layout: default
title: Previous Workshops
---

<!-- https://stackoverflow.com/questions/17608229/floating-div-with-iframe -->
<!--<div style="top: 0px; right: 0px; border: 0px solid black; height: 110px; position: fixed; width: 110px; overflow: hidden; ">-->


{% assign grouped_by_year = site.data.workshops | group_by_exp: "workshop", "workshop.date | date: '%Y'" %}
{% for year in grouped_by_year %}
<h2>{{ year.name }}</h2>

<div class="grid">
{% for workshop in year.items %}
<div class="grid-item">
  <div class="event-square" style="background-image:url(assets/images/{{ workshop.type }}.png); ">
      <a href="{{ workshop.link }}">
        <h2>
          {{ workshop.date }}<br/>
          {{ workshop.title }}
        </h2>
      </a>
      <div style="float:right">
        <a href="https://github.com/NewcastleRSE/software-carpentry/blob/main/admin/{{ workshop.date }}.md">&#9998;</a>
      </div>
  </div>
</div>
{% endfor %}
</div>
{% endfor %}
