body {
  font-size: 12;
  font-family: Arial;
}

h2 {
  font-size: 14px;
  font-color: red;
}

a:visited {
  color: #ef9b02;
}

a:hover {
  color: #0160c1;
}

a {
  text-decoration: none;
  color: #ef9b02;
}

.text {
  font-weight: bold;
  font-size: 14px;
  font-color: #ef9b02;
  text-shadow: 0px 2px 2px #000;
}

.grid-container {
  border: 1px solid blue;
}

.wrapper {
  display: grid;
}

.content {
  justify-self: center;
  display: table-cell;
  font-family: arial;
  width: 600px;
  vertical-align: middle;
  border: 1px solid green;
}

.event-square {
  color: white;
  border: 1px solid #372121;
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 30%;
  float: left;
  margin: 10px 10px 10px 10px;
  height: 100%;
  box-sizing: border-box;
  height: 180px;
  border-radius: 3px;
  background-color: #333;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #ddd;
}

.event-square-overlay{
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  line-height: 25px;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%);
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%);
}

.nav {
  background-color: #a93d96; 
  border-bottom: 1px solid black;
  color: white;
  text-align: center;
  padding-bottom: 5px;
}

.button {
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 2px 2px #000;
  background-color: #333;
  /* Green */
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 6px;
}

.button:hover {
  background-color: #fff;
  color: #333;
}
