<!-- https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Box_Alignment_in_CSS_Grid_Layout -->
<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
  </head>
  <body>
    <div class="nav">
<h1>Software and Data Carpentry Workshops @ NCL</h2>
{% include navigation.html %}
    </div>
      <div class="wrapper">
        <div class="content">
          {{ content }}
        </div>
      </div>
  </body>
</html>
